@font-face 
{
    font-family: "VALORANT";
    src: local("VALORANT"), url(../assets/VALORANT.ttf) format("truetype");
}
@font-face 
{
    font-family: "NewYork";
    src: local("NewYork"), url(../assets/NewYork.otf) format("truetype");
}
body
{
 max-width: 100%;
}
/*header*/
.header
{
    position: sticky;
    top: 0;
    z-index: 1;
}
ul
{
    list-style-type: none;
    background-color: #132543;
    overflow: hidden;
    margin: 0;
    padding: 0;          
}

.ig
{
    float: left;
    padding-left: 100px;
}
.og
{
    margin-top: 33px;
    float: right;
    margin-right: 30px;
    
}
li a:hover
{
    color: #aa9172 ;
}

li a 
{
    
    padding: 6px;
    display: block;
    transition: 0.3s;    
    cursor: pointer;
}

a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/*title*/
.first
{
    background-image: url("../assets/hotel.jpg");
    background-color: beige;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 880px;
    z-index: -1;
    position: relative; 
    

}
.welcome_p
{
    top: 100px;
    position: relative;
    font-size: 200px;
    opacity: 0;
    animation-name: welcome;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes welcome
{
    from{opacity:0;}
    to{opacity: 1;}
}
/*radio box*/
.junior
{
    float:right;
}
.rbox
{
    background-color:#132543;
    height: 80px;
    padding: 10px;
    width: 30%;
    float: left;
    box-sizing: border-box;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    ;opacity: 97%
    
}
.rbox2
{
    background-color:#132543;
    height: 80px;
    padding: 10px;
    width: 30%;
    float: right;
    box-sizing: border-box;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    ;opacity: 97%
    ;border-radius: 30px
}
.bedr
{
width: 100px;
}
.bedt
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black ;
    font-size: 40px;
    float: left;
    margin: 50px;
    padding-left: 550px;
    text-decoration: underline overline #cba36f;
    text-align: center;
}
.exec
{
float:left;
}


/*date and combo box*/
#rooms
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 40px;
    float: left;
    margin: 50px;
    padding-left: 530px;
    text-decoration: underline overline #cba36f;
}
.secondbig
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
    background-size: cover;
    background-attachment: fixed;
    min-height: 750px;
    position: relative; 
    
}
.second 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(130, 129, 129);
    background-color: rgb(223, 223, 223);
    margin: auto;
    width: 40%;
    border: 3px solid #cba36f;
    padding: 10px; 
   
}
.whitebox
{
    background-color: whitesmoke;
    padding: 10px;
    
}
.third
{
    
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 880px;
    position: relative; 
   
}
.JYlabel
{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*footer*/
span
{
    padding-left: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.oc
{
    
    font-size: 20px;
    float: left;
    margin: 50px;
    padding-left: 80px;

}
#afut
{
    color: #6e6e6e;
    text-decoration: underline;

}

#afut:hover
{
    color: gray;
    
}
.foot
{
    position: relative;
    bottom: 0;
    width: 100%;
}

