@font-face 
{
    font-family: "VALORANT";
    src: local("VALORANT"), url(../assets/VALORANT.ttf) format("truetype");
}
@font-face 
{
    font-family: "NewYork";
    src: local("NewYork"), url(../assets/NewYork.otf) format("truetype");
}
@font-face 
{
    font-family: "Moderno";
    src: local("Moderno"), url(../assets/ModernSans-Light.otf) format("truetype")
}
body{
    background-color: whitesmoke;
}
/*header*/

.header
{
    position: sticky;
    top: 0;
    z-index: 1;
}
ul
{
    list-style-type: none;
    background-color: #132543;
    overflow: hidden;
    margin: 0;
    padding: 0;          
}

.ig
{
    float: left;
    padding-left: 100px;
}
.og
{
    margin-top: 33px;
    float: right;
    margin-right: 30px;
    
}
li a:hover
{
    color: #aa9172 ;
}

li a 
{
    
    padding: 6px;
    display: block;
    transition: 0.3s;    
    cursor: pointer;
}

a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/*title*/
.first
{
    background-color: beige;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 880px;
    z-index: -1;
    position: relative; 
    

}
.welcome_p
{
    font-size: 200px;
    opacity: 0;
    animation-name: welcome;
    animation-duration: 1.3s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    position: absolute;
    margin-top: 100px;
}
.welcome_b
{
    font-size: 200px;
    position: absolute;
    margin-top: 100px;
}
@keyframes welcome
{
    from{opacity:0;}
    to{opacity: 1;}
}
/*radio box*/
.junior
{
    float:left;
}
.rbox
{
    background-color:#132543;
    height: 350px;
    padding: 20px;
    width: 45%;
    float: left;
    box-sizing: border-box;
    color: white;
    font-family: Moderno;
    font-size: 20px;
    opacity: 97%;
    text-align: center;
    border-style: groove;
    border-width: 10px; 
}
.rbox2
{
    background-color:#132543;
    height: 350px;
    padding: 20px;
    width: 45%;
    float: right;
    box-sizing: border-box;
    color: white;
    font-family: Moderno;
    font-size: 20px;
    opacity: 97%;
    text-align: center;
    border-style: groove;
    border-width: 10px;
}
.rbox11
{
    color:whitesmoke;
}
.bedr
{
width: 550px;
height:225px;
border-style: groove;
border-width: 10px;
}
.bedt
{
    font-family: Moderno;
    color: black ;
    font-size: 60px;
    position: absolute;
    margin-left: 550px;
    text-decoration: underline #cba36f;
    text-align: center;
    font-weight: bolder;
}
.bedt2
{
    font-family: Moderno;
    color: black ;
    font-size: 60px;
    position: absolute;
    margin-left: 650px;
    text-decoration: underline #cba36f;
    text-align: center;
    font-weight: bolder;
}

.exec
{
float:right;
}


/*date and combo box*/
#rooms
{
    font-family: Moderno;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: 60px;
    float: left;
    margin: 50px;
    margin-left: 33.5%;
    text-align: center;
    text-decoration: underline  #cba36f;
}
.secondbig
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../assets/hdfoto.jpeg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 750px;
    position: relative; 
    
}
.second 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(130, 129, 129);
    background-color: rgb(223, 223, 223);
    margin: auto;
    width: 40%;
    border: 3px solid #cba36f;
    padding: 10px; 
   
}
.whitebox
{
   
    padding: 10px;
    
}
.third
{
    
   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 1100px;
    position: relative; 
   
}
.JYlabel
{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*combo box*/
.box{
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    padding:7px;
    border: 0;
    color: #999;
    background-color: #eee; 
    margin-top: 10px;
}
/*footer*/
span
{
    padding-left: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.oc
{
    
    font-size: 20px;
    float: left;
    margin: 50px;
    padding-left: 80px;

}
#afut
{
    color: #6e6e6e;
    text-decoration: underline;

}

#afut:hover
{
    color: gray;
    
}
.foot
{
    position: relative;
    width: 100%;
}

/*info*/

.info1
{
    
    

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align:center;
        padding-left: 120px;
        background-color:#9b876f;
        height: 490px;
        padding: 20px;
        width: 50%;
        box-sizing: border-box;
        color: beige;
            font-size: 17px;
            opacity: 98%;
            bottom: 500px;
            position: relative;
            float: left;
            margin-left:10px;
            border-radius:30px;
            text-align: justify;

}
.info4
{
    
    

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align:center;
        padding-left: 120px;
        background-color:#9b876f;
        height: 500px;
        padding: 20px;
        width: 50%;
        box-sizing: border-box;
        color: beige;
            font-size: 17px;
            opacity: 98%;
            bottom: 500px;
            position: relative;
            float: left;
            margin-left:10px;
            border-radius:30px;
            text-align: justify;

}
.info2
{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    padding-left: 120px;
    background-color:#f5b663;
    height: 520px;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    color: beige;
     font-size: 17px;
        opacity: 98%;
        bottom: 500px;
        position: relative;
        float: right;
        margin-right:10px;
    border-radius:30px;
      text-align: justify;
}
.info3
{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    padding-left: 120px;
    background-color:#f5b663;
    height: 500px;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    color: beige;
     font-size: 17px;
        opacity: 98%;
        bottom: 500px;
        position: relative;
        float: right;
        margin-right:10px;
    border-radius:30px;
      text-align: justify;
}

.imagesdegabo1
{
    width:700px; 
    height: 550px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left:790px;
    position: relative;
}

.imagesdegabo2
{
    width:700px; 
    height: 500px;
    float: left;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left:30px;
    margin-top: 40px;

}
.imagesdegabo3
{
    width:700px; 
    height: 495px;
    float: right;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left:790px;
}
.imagesdegabo4
{
    width:700px; 
    height: 500px;
    margin-right: 50px;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    margin-left: 30px;

}
.Accomo
{
    font-family: Moderno;
    color: black ;
    font-size: 60px;
    text-decoration: underline #cba36f;
    font-weight: bolder;
    margin-left: 800px;
    position: relative;
}
.Near
{
    font-family: Moderno;
    color: black ;
    font-size: 60px;
    text-decoration: underline #cba36f;
    margin-left: 80px;
    margin-top: 50px;
    font-weight: bolder;
    position: absolute;

}
.Retau
{
    font-family: Moderno;
    color: black ;
    font-size: 60px;
    text-decoration: underline #cba36f;
    font-weight: bolder;
    margin-left: 800px;
    margin-top: 50px;
    position: relative;
}
.Whatsaround
{
    height: 280px;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    border-color: #cba36f;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: whitesmoke;
    border-left-color: #c19b76;
    border-left-style: solid;
    border-top-color: #c19b76;
    border-top-style: solid;
    border-bottom-color: #c19b76;
    border-bottom-style: solid;
    border-right-color: #c19b76;
    border-right-style: solid;
    float: left;

   
    
  

}
.Whatsaroundlist
{
    background-color: whitesmoke;
    display: list-item;
    list-style-type: circle;
    font-family: Moderno;
}
.ImportantInfo
{
    height: 100%;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    border-color: #cba36f;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: whitesmoke;
    border-left-color: #c19b76;
    border-left-style: solid;
    border-top-color: #c19b76;
    border-top-style: solid;
    border-bottom-color: #c19b76;
    border-bottom-style: solid;
    border-right-color: #c19b76;
    border-right-style: solid;
    float: right;
    
}
/*footer*/
span
{
    padding-left: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.oc
{
    
    font-size: 20px;
    float: left;
    margin: 50px;
    padding-left: 80px;

}
#afut
{
    color: #6e6e6e;
    text-decoration: underline;

}

#afut:hover
{
    color: gray;
    
}
.foot
{
    position: absolute;
    width: 100%;
    margin-top:80px;

}
